{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    <h1>bienvenu sur la page request de votre api</h1>
        <h2>api simple</h2>
            <h3><a href="{{ path('listProducts') }}">listes des produits</a></h3>
            <h3><a href="{{ path('listCustomers') }}">listes des customers</a></h3>
        <h2>api platform</h2>
            <h3><a href="{{ path('listProductsApiplatform') }}">listes des produits</a></h3>
            <h3><a href="{{ path('listCustomersApiplatform') }}">listes des customers</a></h3>
      
{% endblock %}
